<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxLayout="column">
    <div>
      <h1>Cube Summation</h1>
    </div>
    <div>
      <h2>
        Problem description can be found
        <a href="https://www.hackerrank.com/challenges/cube-summation/problem" target="_blank">here!</a>
      </h2>
    </div>
  </div>

  <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">
    <div fxFlex="40">
      <mat-form-field fxFlex>
        <h3 class="text-center">INPUT</h3>
        <mat-input-container class="input-box">
          <textarea matInput rows=15 [(ngModel)]="inputBox"></textarea>
        </mat-input-container>
      </mat-form-field>
    </div>
    <div fxFlex="20" fxLayoutAlign="center center">
      <button mat-button (click)="solve()">SOLVE</button>
    </div>
    <div fxFlex="40">
      <mat-form-field fxFlex>
        <h3 class="text-center">OUTPUT</h3>
        <mat-input-container class="input-box">
          <textarea matInput rows=15 [(ngModel)]="outputBox"></textarea>
        </mat-input-container>
      </mat-form-field>
    </div>
  </div>

</div>
